* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: whitesmoke;
    background-image: url(/assasin_creed/images/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    /* overflow: hidden; */
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.logo {
    color: white;
}

.logo span {
    color: red;
}

#nav-toggle {
    display: none;
}

.nav-icon {
    display: none;
    cursor: pointer;
}

.nav-icon #menu-icon,
.nav-icon #close-icon {
    color: white;
    font-size: 30px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    padding: 0 20px;
}

nav a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

.btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.heading span {
    color: red;
}

/* Mobile Styles */
@media (max-width: 425px) {
    #nav-toggle {
        display: none;
    }

    .nav-icon {
        display: block;
    }

    #close-icon {
        display: none;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.904);
        width: 100%;
        height: 30vh;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        flex-direction: column;
        align-items: center;
        z-index: 1000;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav li {
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }

    nav a {
        color: white;
    }

    #nav-toggle:checked~nav {
        display: flex;
    }

    #nav-toggle:checked~.nav-icon #menu-icon {
        display: none;
    }

    #nav-toggle:checked~.nav-icon #close-icon {
        display: block;
    }

    .btn {
        display: none;
    }

    .desc {
        position: relative;
        top: -150px;
    }

}

@media screen and (min-width: 768px) and (max-width:860px) {
    #nav-toggle {
        display: none;
    }

    .text {
        width: 100%;
    }

    .desc {
        padding-top: 150px;
        width: 100%;
    }

    .desc p {
        text-align: justify;
        padding: 0 40px;
        width: 700px;
    }
}