*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    list-style: none;
    /* background: white;
    color: black; */
}
body{
    /* overflow: hidden; */

    }
    /* .container{
        height: 80vh;
    } */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: black;
    /* padding: 15px 23px; */
}
.logo{
    float: left;
}
span{
    color: red;
}
nav{
    display: flex;
    justify-content: center;
    font-size: 18px;
    flex: 1;
    
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    padding: 0 20px;
    
}
li a{
    color: white;
    text-transform: uppercase;
}

li a:hover{
    color: red;
    cursor: pointer;
}.btn{
    padding: 5px 22px;
    background-color: red;
    color: white;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
}
#about{
    height: 92.3vh;
    background-color:beige;
}

.background{
    position: absolute;
    opacity: 0.2;
    overflow: visible;
    width: 100%;
    height: 90vh;
}
.image-container{
    width: 400px;
    height: 700px;
    position: relative;
    /* perspective: 800px; */
    background-color: transparent;
    /* margin: 0 auto; */
    /* display: inline-block;
    display: none; */
}
.drum{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
    transform-origin: center center;
    background-color: transparent;
}

.image-container .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    backface-visibility: hidden;
    /* border-radius: 145em; */
}
.image:not(:first-child) {
    transform: rotateY(180deg);
}
.image:nth-child(2){
    animation-delay: 3.33s;
}
.image:nth-child(3) {
    animation-delay: 6.66s;
    /* display: none; */
}
@keyframes rotate {
    0% { transform: rotateY(0deg);}
   
    100% {transform: rotateY(-360deg);}
}


.home{
    /* background-color: aqua; */
    height: 90vh;
    display: flex;
    justify-content: space-between;
}
.mage{
    width: 500px;
}
.file{
    width: 500px;
    background-color: aqua;
    height: 50vh;
    /* float:right; */
}