*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    list-style: none;
    background: black;
    color: white;
}
.container{
    height:100%;
    
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: black;
    padding: 15px 23px;
    color: white;
    /* position: fixed; */
}
.logo{
    float: left;
}
span{
    color: red;
}
nav{
    display: flex;
    justify-content: center;
    font-size: 18px;
    flex: 1;
    background-color: transparent;
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    padding: 0 20px;
    background-color: transparent; 
}
li a:link{
    color: white;
    text-transform: uppercase;
}
li a:visited{
    color: whitesmoke;
}
li a:hover{
    color: red;
    cursor: pointer;
}
li a:active{
    color: red;
}
.btn{
    padding: 5px 22px;
    background-color: red;
    color: white;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
}
@media screen and (max-width:860px) {
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: 100px;
        text-align: center;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
}





#new{
    /* height: 90vh; */
    position:relative;
}
.background{
    position: absolute;
    opacity: 0.2;
    /* overflow: visible; */
    width: 100%;
    /* height: 80vh; */
}

.blog{
/* background-color: wheat; */
height: 100%;
padding: 0 2px;
display:flex;

}
.side-blog{
    width: 300px;
    float: left;
    position: relative;
    top: 4px;
    border-radius:5px;
    /* background-color: rgba(0, 0, 0, 0.429); */
    /* overflow: scroll;  */
}
.comment{
    display: flex;
    align-items: center;
    margin: 23px 4px;
}
.comment h3{
    /* color: rgba(34, 173, 173, 0.77); */
}
.imge{
    width: 100px;
    border-radius: 55%;
    position: relative;
}
.imge img{
    border-radius: 55%;   
}
.imge img:hover{
    border: 2px solid white;
}
.text{
    width:200px;
    padding-left: 20px;
}
.comment:hover{
    box-shadow: 0 4px 8px 0 rgba(141, 121, 121, 0.2), 0 6px 20px 0 rgba(42, 29, 29, 0.19);;
}
.main-blog{
    width: 800px;
    /* background-color: rgba(165, 31, 31, 0.418); */
    margin: 5px 42px;
    /* overflow: auto; */
}
.heading h3{
    font-size: 24px;
    color: aqua;
    text-align: center;
    display: none;
}
.news{
    display: flex;
    align-items: center;
    margin: 35px 0;
}
.pic{
    width: 350px;
    margin:12px 2px;
}
.pic img{
    border-radius: 5px;
}


.more-info{
    width: 350px;
    margin-left: 20px;
    text-align: justify;
    font-size: 17px;
}

.right-blog{
    width: 350px;
    
    position: relative;
    top: 4px;
}
.post{
    font-family: cursive;
}
.post h2{
    color: coral
}

.box{
   margin: 6px 0px;
   display: flex;
   align-items: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-icon{
    width: 80px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.box-icon h2{
    color: coral;
    font-size: 42px;
    margin-right: 12px;
}
.box-info{
    margin: 0 25px;
    font-size: 18px; 
}
.box:hover{
    cursor: pointer;
    border: 1px solid grey;
    /* margin: 13px 0; */
}

@media screen and (max-width:1200px) {

    

    @media screen and (max-width:768px) {
        header{
            justify-content: space-between;
    
        }
        nav{
            display: none;
        }
        .new{
            /* width: 500px; */
            /* background-color: wheat; */
        }
        .side-blog{
            /* display:grid; */
            /* width: 150px; */
            /* margin: -20px; */
        }
        .comment{
            font-size: 13px;
        }
        .text{
            width:300px;
            /* background-color: aqua */
        }
        .imge{
            width: 90px;
        }
        .main-blog{
            /* display: grid; */
            justify-content: center;
            align-items: flex-start;
            height: 100vh;
            /* overflow: scroll; */
            /* background-color: blue; */
        }
        .news{
            /* background-color: blue; */
            height: 300px;
            margin-top: -100px;
        }
        .main-blog img{
            /* display: none; */
            width: 30px;
        }
        .right-blog{
            /* display: none; */
            float: left;
            /* position: absolute; */
        }
        .news .more-info{ 
            font-size: 12px;
            height: 150px;
            overflow: scroll;
        }
        .right-blog{
            width: 200px;
        }
        .post,.post-1{
            font-size: 12px;
        }
        .box{
            width: 150px
        }
        .box-icon,h2,p{
            font-size: 12px;
        }
    }
    @media screen and (max-width:425px){
        .side-blog,.right-blog{
            display: none;
        }
    }
    .main-blog{
        display: block;
        background-color: aqua;
        width: 100%;
        margin-left:-10px;
    }
}
