*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    /* list-style: none; */
    /* background: black; */
    /* color: white; */
}
body{
    /* overflow: hidden; */
    /* background:linear-gradient(to top,white,grey,white); */
    /* background: rgba(64, 64, 64, 0.36); */
    /* background-color: rgba(201, 117, 39, 0.904); */
    /* background:linear-gradient(to top,white,rgba(201, 117, 39, 0.904),white); */
    color: white;
    background-color: rgba(15, 14, 14, 0.932);

    }
    .container{
        height: 100vh;
    }

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: black;
    padding: 15px 23px;
    color: white;
}
.logo{
    float: left;
}
span{
    color: red;
}
nav{
    display: flex;
    justify-content: center;
    font-size: 18px;
    flex: 1;
    list-style-type: none;
    
    
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
li{
    padding: 0 20px;
    
}
li a:link{
    color: white;
    text-transform: uppercase;
}
li a:visited{
    color: whitesmoke;
}
li a:hover{
    color: red;
    cursor: pointer;
}
li a:active{
    color: red;
}
.btn{
    padding: 5px 22px;
    background-color: red;
    color: white;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
}
@media screen and (max-width:860px) {
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: 100px;
        text-align: center;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
}



#portfolio{
    padding: 0px 50px;
    justify-content: space-around;
    align-content: center;
    /* background-color: rgba(202, 194, 194, 0.418); */
}
.port{
    display:flex;
    /* justify-content: space-between; */
    position: relative;
    /* top: 80px; */
    height: 90vh;
}
.text-box{
    /* width: 900px; */
    width: 50%;
    height: 500px;
    line-height: 27px;
    word-spacing: 6px;
    font-size: 17px;
    margin-left:30px;
    text-align: justify;
    position: relative;
    top: 100px;
    /* background-color: antiquewhite; */
  
}
.text-box h2{
    color: red;
    text-align:center;
    margin-bottom: 50px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* background-color: aqua; */
    align-items: center;
    margin: 85px 0px;
    width: 50%;
}
.row{
    display: flex;
    /* margin: 0 20px; */
}
.card{
    width: 450px;
    height: 250px;
    border: 2px solid black;
    /* margin:  15px; */
}
.text-box2{
    width: 50%;
    height: 500px;
    line-height: 27px;
    font-size: 17px;
    /* margin-left:30px; */
    text-align: justify;
    position: relative;
    top: 50px;
    right: 150px;
    /* background-color: antiquewhite; */
  
}
.text-box2 h2{
    color: red;
    text-align:center;
    margin-bottom: 50px;
}
.gallery2{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin: 85px 0px;
}
.row{
    display: flex;
    /* margin: 0 20px; */
}
.card{
    width: 270px;
    height: 250px;
    border: 2px solid black;
    margin:  15px;
}








@media screen and (max-width:1200px) {

    

    @media screen and (max-width:768px) {
        header{
            justify-content: space-between;
    
        }
        nav{
            display: none;
        }
        .about{
            width: 500px;
            /* background-color: wheat; */
        }
    }
}
